/* --------------------------------------
=========================================
RESPONSIVE FIXES
=========================================
-----------------------------------------*/

@media (min-width: 992px){
.container {
    width: 1370px;
}
}
 @media (max-width: 991px) {
     header .intro-section .intro, .font-style-me, .cooldry {
	 font-size: 2.5em;
    margin-bottom: 5px;
    line-height: 1;
}
.shopwnow .shopwnow-container {
    padding-bottom: 20px;
    width: 50%;
	margin-left: 155px;
}

.services .single-service {
    padding-bottom: 60px;
	width:100%;
}
     .pull-right, 
     .pull-left {
         float: none !important;
         margin: auto;
     }
     
     .text-left,
     .text-right {
         
         text-align: center;
     }
     
     .side-screenshot {
         margin-bottom: 40px;
     }
     
     .feature-list-1 {
         margin-top: 0;
     }
     
     .feature-list-1 li .icon-container {
         float: left !important;
     }
     
     .feature-list-1 li p {
         text-align: left !important;
     }
     .feature-list-2 li .icon-container {
         margin-right: 0;
         margin: auto;
         margin-bottom: 10px;
     }
     
     header .vertical-registration-form {
         margin-top: 10px;
        
     }
     
     .intro-section {
         margin-bottom: 50px;
         margin-top: 0;
		 font-size:20px;
     }
	 
	 .standard-button,.secondary-button {
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 13px;
		min-width: 100%;
		padding: 11px 20px 11px 20px;
	}
 }
 
 
@media (min-width: 768px) and (max-width: 991px) { 
    
    html {
        font-size: 90%;
    }
    
    .sticky-navigation .navbar-header {
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 10px;
    }
    .sticky-navigation .navbar-header a {
        float: none !important;
    }
     
     .feature-list-1 {
         float: left;
         font-size: 16px;
         line-height: 25px;
     }
     .feature-list-1 li p {
         font-size: 16px;
         line-height: 25px;
     }
    
}


@media(max-width:767px) {
    
	html {
		font-size: 80%;
	}

	header,
	.cta-section {
		background-attachment: scroll !important;
	}

	.navigation-header {
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.navbar-inverse .navbar-collapse {
		border-color: #ececec;
	}

	.intro {
		text-align: center !important;
	}
	
	.sf-container {
	    margin-top: -20px;
	    margin-bottom: 20px;
	    padding: 10px;
	}
	
	.intro-section .sub-heading {
	    font-size: 15px;
	    line-height: 25px;
	}

	.section1,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	.feature-list-1 {
		width: 80%;
		margin: auto;
	}

	.feature-list-1 li p {
		font-size: 16px;
		line-height: 25px;
	}

	.navbar-toggle {
		background: #727272;
	}

	.nav>li {
		display: inline-block;
	}

	.vertical-registration-form {
		max-width: 80%;
	}

	.subscription-form .input-box {
		margin: auto;
		width: 80%;
		margin-bottom: 10px;
		margin-top: 25px;
	}
}
 
 
@media(max-width:480px) {
    
	html {
		font-size: 65%;
	}

	.feature-list-1 {
		display: none;
		align-content: center;
		text-align:center;
	}
.feature, .icon-container, .icon_genius, .fetaure-details{
	
	align-content: right;
	text-align: right;
	font-size: 1.3em;
}

.mystl{
	font-size: 1.3em;
	}
	
	body {
		font-size: 16px;
		line-height: 21px;
	}

	.feature-list-1 {
		width: 80%;
	}

	.vertical-registration-form {
		max-width: 100%;
	}

	h4 {
		font-size: 18px;
		line-height: 28px;
	}

	h5 {
		font-size: 16px;
		line-height: 24px;
	}

	h6 {
		font-size: 14px;
		line-height: 22px;
	}

	.standard-button,.secondary-button {
		font-size: 13px;
		min-width: 100%;
		padding: 11px 20px 11px 20px;
	}
	
	.shopwnow .shopwnow-container {
    padding-bottom: 20px;
    width: 50%;
    margin-left: 80px;
}

.section-description{
	font-size:18px;
	}
.services p {
	
	font-size:18px;
}
.gearlines {
    padding-top: 10px;
    padding-bottom: 10px;
}

.all-brief .ua-image img {
    width: 50%;
}
.all-brief {
    padding-top: 10px;
    padding-bottom: 5px;
    background: #222222;
}
.services {
    padding-top: 5px;
    padding-bottom: 60px;
    background: #222222;
}

.features {
    padding-top: 80px;
    padding-bottom: 5px;
    background: #232323;
}
.headedcold p{
	font-size: 1.2em;
	}

}